target/
*.so
*.dylib
*.dll
*.jar
versions/
world/
logs/
crash-reports/
cache/
config/
launcher/out/
libdist_agent.so
hs_err_pid*.log
eula.txt
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
help.yml
commands.yml
bukkit.yml
permissions.yml
server.properties
